body {
    padding-top: 2%;
    background: url(../images/abstract-minimalist-bg.jpg);
}

.jumbotron {
    width: 100%;
    height: 125px;
    background-color: #7764e5;
    color: #1fc587;
    font-style: bold;
}

.container {
    color: white;
}